* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url('img/planodefundo.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
html {
    letter-spacing: 1.4px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container::after,
.container::before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.box-1 {
    width: 100%;
    align-items: center;
}

.box-2 {
    width: 45%;
    margin-left: 2%;
    margin-bottom: 10%;
    border-radius: 3px;


}

.capa {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/planodefundo.png');
    background-size: cover;
    background-attachment: fixed;
}


.capa svg {

    scale: 3.5;

    text-align: center;




}
.detalhe-nome {
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.7em;
}
.nome {
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 4.5em;
}
.cargo {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2.5em;
}
.dados {
    background-image: url("img/Singularity.gif");
}
.titulo-pj {
    margin-bottom: 3%;
    font-size: 1.2em;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.7em;
}


.projetos {
    margin-top: 3%;
    margin-bottom: 3;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

}

.foto-projeto {
    width: 70%;
    transition: transform 0.3s ease;
    }

    .foto-projeto:hover {
        transform: scale(1.1);
    

    
}

.botao {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    }

    .botao:hover {
        transform: scale(1.1);
}

.botao svg {
    transform: scale(2.5);
    margin-left: 20px;
    margin-right: 20px;
}
